    <%= form_for(@fcomp) do |f| %>
    <%= render 'shared/error_fcomps' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :country %>
      <%= f.country_select :country , :include_blank => true, class: 'form-control' %>

      <%= f.label :webpage %>
      <%= f.text_field :webpage %>

      <%= f.label :rules %>
      <%= f.bootsy_area :rules, editor_options: { link: false,  lists: false, image: false } %>
       
      
      <span class="picture">
    <%= f.file_field :logo, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>


</script>