<p>
	A list of all flight companies
	</p>
	<p>
	<%= link_to "Create new flight company",  newfc_path %>
	</p> 

 
 <%("A".."Z").map do |letter|%>
<div class="row"><h3><%=  letter %><h3>
	<% @fcomps.order(:name).each do |f| %>
	
	<% if f.name.capitalize.starts_with?(letter) %>
	<div class="col-md-1 col-xs-6"> 
	
     <%= image_tag f.logo.url, :size => "50x50" unless f.logo.blank? %> 
     <div class="caption"> <%= f.name  %>  <%= link_to "- Edit", edit_fcomp_path(f.id) %>
     	    	
     	</div>
     	</div>  
	<% end %>  
	<% end %> 
</div> 
<% end %> 

     	</div>  
  
  

   
