<p>
	A list of all flight companies
	</p>
 <% if logged_in? %>
         <% if current_user.admin?%>
	<p>
	<%= link_to "Create new flight company",  newfc_path %>
	</p> 

 	<% end %>  
	<% end %> 
	
	<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
   <%= render_filterrific_spinner %>
<% end %>


<%= render(
  partial: 'fcomps/list',
  locals: { fcomps: @fcomps }
) %>


 
     	</div>  
  
  </div>

   
