<% provide(:title, @fcomp.name) %>

<div class="jumbotron">
	<h1><%= image_tag @fcomp.logo.url :size => "100x100"  unless @fcomp.logo.blank? %>  
        <%= @fcomp.name %></h1>
  
</div>

<div class="row">
	<h2>Country of origin: <%= @fcomp.country_name %>   
		 <%= link_to "Visit Webpage",  url_for(@fcomp.webpage), target: '_blank' %> </h2>
  <div class="col-md-8">
    <section class="user_info">
    	 <% if logged_in? %>
         <% if current_user.admin?%>
      <%= link_to "Edit", edit_fcomp_path(@fcomp.id) %>
       	<% end %>  
	    <% end %> 
	
      <%= link_to "Add new review",  new_fcomp_review_path(:fcomp_id=>@fcomp.id)%>
      <%= link_to "Back to index",  fcomps_path%>
        
  <% unless @fcomp.reviews.blank? %>
<h3>Reviews score</h3>
      
<span style="padding-right:5px;">Luggage handling:</span>
     <span class="star-rating" data-score= <%= @avg_rating1 %>>     	        
     </span><br>      
      <span style="padding-right:6px;">Customer Service: </span>  
    <span class="star-rating" data-score= <%= @avg_rating2 %>>    	      
      </span>        
      </span><br>
      <span style="padding-right:41px;">Friendliness: </span>  
     <span class="star-rating" data-score= <%= @avg_rating3 %>>     	      
      </span>        
    </span><br>
    <span style="padding-right:16px;">Value for Money:</span>
     <span class="star-rating" data-score= <%= @avg_rating4 %>>     	        
      </span>          
     </span><br>
     <span style="padding-right:49px;">Punctuality:</span>   
    <span class="star-rating" data-score= <%= @avg_rating5 %>>
    	     
      </span>          
     </span><br>
         
<br>
<em><%= "#{@ratings1.size} published reviews" %></em>
 <% end %>

   <h1>  Rules for travelling with musical instruments   </h1>
   <br>
   <i>- Scroll down for reviews or add a new review yourself-</i>
    <%= @fcomp.rules.html_safe %>
        
        
    </section>
  </div>
 </div>
     	 <% if logged_in? %>
         <% if current_user.admin?%>
          <% if @fcomp.reviews.any? %>
      <h3>Reviews (<%= @fcomp.reviews.count %>)</h3>
      <ol class="microposts">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
       <% end %>
    <% end %>
  
      <%else%>
              <div class="col-md-8">        	 
    <% if @pubreviews.any? %>
      <h3>Reviews (<%= @fcomp.reviews.where("published = 't'").count %>)</h3>
      <ol class="microposts">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  
       	 
	    <% end %> 
	
	 

</div>

</div>


