<% provide(:title, @fcomp.name) %>

<div class="jumbotron">
	<h1><%= image_tag @fcomp.logo.url :size => "100x100"  unless @fcomp.logo.blank? %>  
        <%= @fcomp.name %></h1>
  
</div>

<div class="row">
	<h2>Country of origin: <%= @fcomp.country %>  
		 <%= link_to "Visit Webpage",  url_for(@fcomp.webpage), target: '_blank' %> </h2>
  <div class="col-md-8">
    <section class="user_info">
      <%= link_to "Edit", edit_fcomp_path(@fcomp.id) %>
      <%= link_to "Add new review",  newreview_path %>
        
        
   <h1>  Rules for travelling with musical instruments   </h1>
   <br>
    <%= @fcomp.rules.html_safe %>
        
        
    </section>
  </div>
</div>