<% provide(:title, @fcomp.name) %>

<div class="jumbotron">
	<h1>Review for <%= image_tag @fcomp.logo.url :size => "100x100"  unless @fcomp.logo.blank? %>  
        <%= @fcomp.name %></h1>
  
</div>

<div class="row">
  <span class="user">Title: <%= @reviews.title %>
  </span><br>
  <span class="user">Submitted By: <%= @reviews.fullname %> from  <%= @reviews.country_name %>
  	</span>
  
  <br>
  <span class="content">Content: <%= @reviews.content %></span><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@reviews.created_at) %> ago.
  </span>
</div>
</div>


